header img{
    position: relative;
    left: 21rem;
}

header{
    background-color: #287034;
}


.btnAddEmpleado{
    display: flex;
    justify-content: right;
}
table{
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/* .employeecontainer{
    position: relative;
    left: 30%;
    margin-top: 10vh;
    margin-left: 5vh;
} */

.tacarne{
    position: relative;
    left: 19rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}

th{
    padding: 2px;
    background-color: rgb(223, 106, 106);
}
td{
    padding: 2px;
    background-color: cornflowerblue;
}