body{
    background-attachment: fixed;
    
}
header img{
    position: relative;
    left: 21rem;
}
header{
    background-color: #287034;
}
.car{
    background-color: rgb(235, 143, 68);
    border-radius: 15px;
    width: 17rem;
    position:relative ;
    top: 5rem;
    left: 36rem;
}
.car:hover{
    background-color: rgb(233, 186, 149);
    color: black;
    transition: .2s;
}
.carne {
    position: relative;
    left: 55rem;
    bottom: -0,1rem;
}
.tacarne{
    position: relative;
    left: 22rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
.aba{
    background-color: rgb(230, 207, 82);
    border-radius: 15px;
    width: 19rem;
    position:relative ;
    top: 5rem;
    left: 36rem;
}
.aba:hover{
    background-color:  rgb(226, 213, 138); 
    color: black;
    transition: .2s;
}
.abaro{
    position: relative;
    left: 55rem;
    bottom: -0,1rem;
}
table{
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.taaba{
    position: relative;
    left: 22rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
th{
    padding: 2px;
    background-color: rgb(223, 106, 106);
}
td{
    padding: 2px;
    background-color: cornflowerblue;
}
.tagri{
    position: relative;
    left: 22rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.agri{
    background-color: rgb(82, 184, 62);
    border-radius: 15px;
    width: 26.5rem;
    position:relative ;
    top: 5rem;
    left: 32rem;
}
.agri:hover{
    background-color: rgb(127, 172, 118);
    color: black;
    transition: .2s;
}
.agrimg{
    position: relative;
    left: 60rem;
    bottom: -0,1rem;
}
.lim{
    background-color: rgb(127, 171, 253);
    border-radius: 15px;
    width: 29rem;
    position:relative ;
    top: 5rem;
    left: 32rem;
}
.lim:hover{
    background-color: rgb(179, 199, 230);
    color: black;
    transition: .2s;
}
.limimg{
    position: relative;
    left: 62rem;
    bottom: -0,1rem;
}
.talim{
    position: relative;
    left: 22rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.limp{
    background-color: rgb(46, 220, 243);
    border-radius: 15px;
    width: 25rem;
    position: relative ;
    top: 5rem;
    left: 34rem;
}
.limp:hover{
    background-color: rgb(131, 224, 236);
    color: black;
    transition: .2s;
}
.limpimg{
    position: relative;
    left: 60rem;
    bottom: -0,1rem;
}
.talimp{
    position: relative;
    left: 22rem;
    font-size: 18px;
    border-color: black;
    border-spacing: 0ch;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
#footer{
    color: black;

}
footer{
    width: 64.3rem;
    position: relative;
    background-color: #287034;
    left: 20rem;
}