@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body {
	font-family: Arial, sans-serif;
	background-color: #2f2d2d;
}

h1 {
	text-align: center;
	color: #369681;
	margin-top: 30px;
    margin: 30px;
}

form {
	background-color: #E1EEDD;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	margin: 0 auto;
	max-width: 500px;
	
}
.report{
	width: 100%;
	max-width: 600px;
	margin: 0 auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 120px;
}

label {
	display: block;
	margin-bottom: 10px;
	color: #369681;
	font-weight: 700;
}

input[type="text"],
textarea,
input[type="number"] {
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
	width: 100%;
	margin-bottom: 20px;
	font-size: 16px;
}

input[type="submit"] {
	background-color: #369681;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

input[type="submit"]:hover {
	background-color: #267664;
}
